{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="card z-depth-4 card-rounded">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté comme {{ app.user.username }}, <a href="{{ path('app_logout') }}">Me déconnecter</a>
            </div>
        {% endif %}

        <h1 class="center-align">Connexion</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn" type="submit">
            Valider
        </button>
    </form>
</div>

<a href="{{ path("app_forgot_password_request") }}">Mot de passe oublié</a>
{% endblock %}
