<ul id="slide-out" class="sidenav">
	<li class="red lighten-2 sidenav-header">
		<img src="{{ asset('/images/logo-banking.svg') }}" alt="Logo" width="150">
	</li>
	{% if app.user %}
        <li>
            <a href="{{ path("app_home") }}">
                <i class="material-icons">bar_chart</i>Mon compte</a>
        </li>
        <li>
            <a href="{{ path("app_home") }}">
                <i class="material-icons left">view_list</i>Mes opérations</a>
        </li>
        <li>
            <a href="{{ path("app_home") }}">
                <i class="material-icons">add</i>Ajouter une opération</a>
        </li>
        <li>
            <a href="{{ path("app_logout") }}">
                <i class="material-icons">power_settings_new</i>Déconnexion</a>
        </li>
    {% else %}
        <li>
            <a href="{{ path("app_login") }}">
                <i class="material-icons">power_settings_new</i>Connexion</a>
        </li>
    {% endif %}
</ul>