{{ form_start(form) }}
    {{ form_widget(form) }}
<<<<<<< HEAD
    <div class="right-align">
        <button class="btn waves-effect waves-light">{{ button_label|default('Save') }}</button>
    </div>
=======
    {# todo: ajouter class sur le bouttons et traduire #}
    <button class="btn">{{ button_label|default('Save') }}</button>
>>>>>>> a9e3be719de30d681926d73b4c3048fe259f1ddb
{{ form_end(form) }}
