{% extends 'base.html.twig' %}
{% block title %}Liste des catégories{% endblock %}

{% block body %}
<div class="card z-depth-4 card-rounded">
    <h1 class="center-align">Liste des catégories</h1>
    <a href="{{ path('admin_category_new') }}" class="btn right waves-effect waves-light">
        Ajouter
        <i class="material-icons right">add</i>
    </a>
    <table class="striped highlight">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Ajouté le</th>
                <th>Modifié le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.createdAt ? category.createdAt|date('d/m/Y') : '' }}</td>
                <td>{{ category.updatedAt ? category.updatedAt|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('admin_category_edit', {'id': category.id}) }}" class="btn waves-effect waves-light left">
                        Modifier
                        <i class="material-icons right">edit</i>
                    </a>
                    {{ include('admin/category/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5 center-align">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
